default: &default
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  pool:     5
  username: postgres
  password:
  template: template0

development:
  database: netshow_development
  <<: *default

test:
  database: netshow_test
  <<: *default

production:
  database: netshow_production
  <<: *default